@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --red-500: #dc2626;
  --red-700: #9c1e1e;
  --rose-600: #824752;
  --teal-600: #3d7f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #18181b;
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
  transition: 0.3s;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#randomizer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#randomizer-area {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  resize: none;
  width: 25%;
  height: 240px;
  padding: 10px;
  transition: 0.3s;
  font-size: 15px;
}

#randomizer-area:focus {
  border: 1px solid var(--red-500);
}

#randomizer-button {
  margin-top: 20px;
  width: 25%;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: var(--red-500);
  padding: 8px;
  transition: 0.3s;
}

#randomizer-button:hover,
.btn-md-area button:hover,
.submit-btn:hover,
#confirm-btn:hover,
#home-btn:hover {
  background-color: var(--red-700);
}

/* Maps area */

#picksAndBans-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-btn {
  position: absolute;
  top: 3%;
  left: 2%;
  width: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: var(--red-500);
  padding: 5px;
  transition: 0.3s;
}

.btn-md-area {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 3%;
}

.btn-md-area button {
  width: 5%;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: var(--red-500);
  padding: 5px;
  transition: 0.3s;
}

#banPick-phase {
  text-transform: uppercase;
}

#maps-area {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  gap: 2px;
}

.map-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.map-container img {
  width: 140px;
  height: 100px;
  transition: 0.3s;
}

[data-map]:hover {
  filter: brightness(0.7);
}


.pick::after {
  content: "✓";
  color: #00ff00;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.ban::after {
  content: "X";
  color: #ff0000;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.submit-btn {
  margin-top: 2em;
  width: 15%;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: var(--red-500);
  padding: 8px;
  transition: 0.3s;
}


.teammate-table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 10em;
}

.teammate-table td {
  width: 50%;
}

.teammate-table th,
.teammate-table td {
  padding: 8px;
  text-align: center;
}

.player-attack {
  background-color: var(--rose-600);
}

.player-defense {
  background-color: var(--teal-600);
}

#confirm-btn {
  margin-top: 40px;
  width: 10%;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: var(--red-500);
  padding: 8px;
  transition: 0.3s;
}

@media (max-width: 669px) {

  #randomizer-area {
    width: 75%;
    font-size: 18px;
  }

  #randomizer-button {
    font-size: 17px;
  }

  .teammate-table {
    width: 90%;
  }

  .teammate-table td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}